/* Các xử lý định dạng cho provider.html */
@import url('reset.css');

@import url('imgnew.css');
@import url('blog.css');



.container-lg .row .col-md-8 .poem{
	text-align: center;
}

.card-myimg{
	height: 25vh;
	overflow: hidden;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #f3a200;
    border-color: #ffb727;
	background: #fff;
}

.portfolio #portfolio-flters li {
	cursor: pointer;
    display: inline-block;
    margin: 0 10px 10px 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    padding: 7px 10px;
    text-transform: uppercase;
    color: #444444;
    transition: all 0.3s ease-in-out;
    border: 2px solid #fff;
	border-radius: 0;
	
}


/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	
}
/*Small devices (landscape phones, 576px and up)*/ 
@media (min-width: 576px) and (max-width: 767.98px) { 
	
}
/*Medium devices (tablets, 768px and up)*/ 
@media (min-width: 768px) and (max-width: 991.98px){ 

}

/*Large devices (desktops, 992px and up)*/ 
@media (min-width: 992px) and (max-width: 1199.98px){ 

}

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) and (max-width: 1399.98px) { 

}

/*XX-Large devices (larger desktops, 1400px and up)*/ 

@media (min-width: 1400px) { 

}